
body {
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
  text-align: center;
}

h1{
    color:purple
}

#startBtn {
 
background-color: rgb(159, 110, 223);
border-radius: 15px 15px 15px 15px;
color: white;
width: 25%;
height: 50px;
text-align:center;
font-size:xx-large
}

#highScore{
text-align: left;
margin-left: 10%;
}
#countdownTimer{
text-align: right;
margin-right: 10%;
}